/* Custom slick dots */
.custom-dots {
  display: flex !important;
  justify-content: center;
  gap: 12px; /* space between dots */
  bottom: 20px; /* move dots up */
}

.custom-dots li button:before {
  font-size: 14px;
  color: #ccc; /* inactive dot color */
  opacity: 1;
}

.custom-dots li.slick-active button:before {
  color: #f97316; /* orange active dot */
}
